

<div class="content-index container">

  <!-- フラッシュ -->
	<% if flash[:create] %>
      <p class="success text-center"><%= flash[:create] %></p>
  <% end %>
    <!-- 検索 -->
    <%= search_form_for @q, url: contents_search_path do |f| %>
      <div class="text-center content-search">
        <%= f.label :title, "Posts title" %>
        <%= f.search_field :title_cont %>

        <%= f.submit "検索", class:'btn btn-success btn-sm' %>
      </div>
    <% end %>

	<% @contents.each do |content| %>

	<div class="col-lg-3">
		<ul class="list-group c-i-list">
			<li class="user-info list-group-item">
				<%= attachment_image_tag content.user, :image, class: "img-circle", style: "width: 100px; height: 100px;", fallback: "no_image.png" %>
		        <%= content.user.user_name %><br>
			</li>
			<li class="date-time text-center list-group-item"><%= content.created_at.strftime("%Y-%m-%-d") %></li>
      <li class="user-info text-center list-group-item" style="color:#FF6699;">心の状態：<%= content.user.hearts.last.status %>％</li>
			    <%= link_to content_path(content) do %>
            <li class="c-i-title text-center list-group-item"><%= content.title %></li>
          <% end %>
        </ul>
        <i class="glyphicon glyphicon-star" aria-hidden="true" style="color: aqua;"></i>
              <%= content.favorites.count %>
    </div>

    <% end %>

    <div style="text-align:center">
      <%= paginate @contents %>
    </div>
</div>
