<% if @content.errors.any? %>
	<div id="error_explanation" class="alert alert-danger">
		<p><%= @content.errors.count %>errors prohibited this obj from being saved</p>
	<ul>
	  <% @content.errors.full_messages.each do |message| %>
	  <li><%= message %></li>
	<% end %>
	</ul>
	</div>
<% end %>


<div class="content-new">
	<div class="container">
		<div class="row">
			<div class="text-center col-md-12">
				<%= form_for (@content) do |f| %>

	            <div class="new-title">
					<p class="n-t-title">Title</p>
					<%= f.text_field :title, class:"n-t-field" %>
				</div>
				<div class="new-body">
					<p class="n-b-content">Content</p>
					<%= f.text_area :body, class:"n-b-area" %>
				</div>

				<p class="create"><%= f.submit 'Create', class:"btn btn-primary c-area" %></p>

				<% end %>
			</div>
		</div>
	</div>
</div>