<div class="container content-show">
	<div class="row">
		<div class="col-md-offset-2 col-md-4 text-center">

          <!-- フラッシュ -->
		    <% if flash[:update] %>
		        <p class="success"><%= flash[:update] %></p>
		    <% end %>

			<%= attachment_image_tag @content.user, :image, class: "img-circle", style: "width: 200px; height: 200px;", fallback: "no_image.png" %>
		</div>
		<div class="col-md-6">
			<h1><%= link_to user_path(@content.user) do %>
				    <%= @content.user.user_name %>
				<% end %>
				</h1>
			<p><%= @content.created_at.strftime("%Y-%m-%-d") %></p>

			<% if @content.user.hearts[0].present? %>
			    <p style="color:#FF6699;">心の状態：<%= @content.user.hearts[0].status %>％<p>
            <% else %>
                <p>心の状態：No stasus<p>
            <% end %>

			<h3><%= @content.title %></h3>

			<% if current_user.favorited_by?(@content) %>
		       <div>
		        <%= link_to destroy_favorites_path(@content), method: :delete do %>
		          <i class="glyphicon glyphicon-star" aria-hidden="true" style="color: aqua;"></i>
		          <%= @content.favorites.count %>
		        <% end %>
		      </div>
            <% else %>
		      <div>
		        <%= link_to create_favorites_path(@content), method: :post do %>
		          <i class="glyphicon glyphicon-star" aria-hidden="true"></i>
		          <%= @content.favorites.count %>
		        <% end %>
		      </div>
		    <% end %>

		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8 content-body">
			<p class="well well-lg"><%= @content.body %></p>
			<div class="text-right">
				<% if @content.user_id == current_user.id || current_user.admin? %>
	            <%= link_to "edit", edit_content_path(@content.id), class:"btn-sm btn-success" %>
	            <%= link_to "delete", content_path(@content.id), class:"btn-sm btn-danger destroy", method: :delete, "data-confirm" => "本当に削除しますか？？" %>
	            <% end %>
	        </div>
		</div>
	</div>
	<div class="row review">
		<div class="col-md-4 new-review text-center">

			<!-- レビュー -->


			<%= render partial: 'reviews/form', locals: { review: @review, content: @content } %>
		</div>
		<div class="col-md-8">
			<h1>Reply</h1>


			<div id="review-area">
				<%= render partial: 'reviews/index', locals: { reviews: @reviews } %>
			</div>
		</div>
	</div>
</div>



