

<div class="container user-show">
	<div class="row">

		<!-- チャート -->
		<% if flash[:message] %>
	        <p class="heart-error"><%= flash[:message] %></p>
	    <% end %>

        <p>%</p>
        <% if @heartchart.present? %>
		    <%= line_chart @heartchart, min: 0, max: 100, curve: false, width: "100%", height: "400px" %>
		<% else %>
		    <%= line_chart @heartchart, min: 0, max: 100, xmin: 1, xmax: 12, curve: false, width: "100%", height: "400px" %>
		<% end %>
		<% if @user.id == current_user.id %>
			<%= form_for (@heart) do |f| %>
			    <div class="heart text-right">
			    	今日の心の状態<%= f.number_field :status, min: 0, max: 100 %>％
			        <%= f.submit 'Create', class:"btn btn-info" %>
			    </div>
			<% end %>
		<% end %>

		<div class="col-md-4 text-right">

          <!-- フラッシュ -->
		    <% if flash[:update] %>
		        <p class="success"><%= flash[:update] %></p>
		    <% end %>

			<%= attachment_image_tag @user, :image, class: "img-circle", style: "width: 200px; height: 200px;", fallback: "no_image.png" %>
		</div>
		<div class="col-md-6">
			<h1><%= @user.user_name %></h1>
			<p class="well well-lg"><%= @user.introduction %></p>
			<% if @user.id != current_user.id %>
			    <%= link_to "チャット", create_chat_room_path(@user), method: :post, class: "btn btn-info" %>
			<% end %>
			<div class="text-right">
				<% if @user.id == current_user.id %>
	            <%= link_to "ユーザー情報編集", edit_user_path(@user), class:"btn-sm btn-success" %>
	            <%= link_to "退会", user_path(@user.id), class:"btn-sm btn-danger destroy", method: :delete, "data-confirm" => "本当に退会しますか？？" %>
	            <% end %>
	        </div>
	    </div>
	</div>
	<!-- カプセル・メニュー -->
	<div class="row">
		<div class="col-lg-12">
			<ul id="user" class="nav nav-pills">
				<% if @user.contents.present? %>
				    <li class="active"><a href="#user-content" data-toggle="tab">Posts</a></li>
				<% end %>

				<% if @user.favorites.present? %>
	                <li><a href="#user-favorite" data-toggle="tab">Favorites</a></li>
	            <% end %>
	        </ul>


	        <div class="tab-content">

	        <!-- content -->
	        	<div class="tab-pane active" id="user-content">
	        		<% @user.contents.each do |content| %>
						<ul class="list-group">
							<li class="date-time list-group-item"><%= content.created_at.strftime("%Y-%m-%-d") %></li>
					    <%= link_to content_path(content) do %>
				            <li class="list-group-item">
				            	<%= content.title %>
				                <i class="glyphicon glyphicon-star" aria-hidden="true" style="color: aqua;"></i>
				                    <%= content.favorites.count %>
				            </li>
				        <% end %>
				          <li class="list-group-item"><%= content.body %></li>
				        </ul>
				    <% end %>
				</div>

               <!-- favorite -->
	        	<div class="tab-pane" id="user-favorite">
	        		<% @user.favorites.each do |favorite| %>
						<ul class="list-group">
							<li class="date-time list-group-item"><%= favorite.content.created_at.strftime("%Y-%m-%-d") %>
							    <%= attachment_image_tag favorite.content.user, :image, style: "width: 50px; height: 50px;", fallback: "no_image.png" %>
							    <%= link_to user_path(favorite.content.user) do %>
							        <%= favorite.content.user.user_name %>
								<% end %>
							</li>
					    <%= link_to content_path(favorite) do %>
				            <li class="list-group-item">
				            	<%= favorite.content.title %>
				            	<i class="glyphicon glyphicon-star" aria-hidden="true" style="color: aqua;"></i>
				            		<%= favorite.content.favorites.count %>
				            </li>
				        <% end %>
				          <li class="list-group-item"><%= favorite.content.body %></li>
				        </ul>
				    <% end %>
				</div>
			</div>


		</div>
	</div>
</div>

