<div class="sign-form">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-9 col-md-3 text-left">

        <h2 class="sign">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field sign">
            <%= f.label :email %><br />
            <div clss="sign-field" style="color: black;"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
          </div>

          <div class="field sign">
            <%= f.label :password %><br />
            <div clss="sign-field" style="color: black;"><%= f.password_field :password, autocomplete: "current-password" %></div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field sign">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions sign">
            <%= f.submit "Log in", class:"btn btn-info" %>
          </div>
        <% end %>

        <div class="sign">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
